PORT=3000
ADMIN_USERNAME=damon
ADMIN_PASSWORD=
COOKIE_SECURE=false

BANK_NAME=MB Bank
BANK_NUMBER=0389066064
BANK_OWNER=NGUYEN HO BAO TRAM
SUPPORT_PHONE=0359320997

# Generate: openssl rand -hex 32
DATA_ENCRYPTION_KEY=
